.headerBox {
    height: 75px;
    width: 100%;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerTitle {
    color: rgb(132, 45, 45);
    font-weight: bold;
}

.searchContainer {
    width: 20%;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(139, 139, 139);
}

.searchInput {
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchBtn {
    border-radius: 6px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
}

.searchBtn:hover {
    background-color: rgb(2, 201, 201);
    border-color: rgb(2, 201, 201);
}

.mainInfo {
    display: flex;
    flex-direction: row;
    
    height: 100vh;
}

.returnedData {
    width: 75%;
    margin-left: 20px;
    display: none;
}

.todayTitle {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.currentDay {
    border: 5px solid black;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    border-style: double;
}

.dayBlocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.forecastTitle {
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.weatherBox {
    width: 200px;
    height: 210px;
    background-color: rgb(53, 53, 87);
    border-radius: 10px;
    color: white;
    padding-left: 40px;
}

#additionalButtons {
    display: flex;
    flex-direction: column;
}